@{
    ViewData["Title"] = "Trainings";
}

@model List<TrainingViewModel>

<section class="py-3">
    <div class="container">
        <h1 class="jumbotron-heading">@ViewData["Title"]</h1>
        <p class="lead text-muted">View/Edit Trainings</p>
    </div>
</section>


<div class="album py-5 bg-light">
    <div class="container table-responsive-md">
        <table class="table table-hover" id="trainingsTable">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Place</th>
                    <th scope="col">Date&Time</th>
                    <th scope="col">Description</th>
                    <th scope="col">Distance</th>
                    <th scope="col">Photo</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (TrainingViewModel item in Model) {

                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Title</td>
                    <td>@item.Place</td>
                    <td>@item.DateTime</td>
                    <td>@item.Description</td>
                    <td>@item.Distance</td>
                    <td><a href="/Home/DownloadTrainingPhoto?trainingId=@item.Id"> @item.PhotoName</a></td>
                    <td><a href="/Home/EditTraining?trainingId=@item.Id" name="btnEdit" class="btn btn-outline-warning"><i class="far fa-edit"></i></a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#trainingsTable').paginate({ limit: 5 });
    });
   
   
</script>